header h1, header h1 a{
	text-align: center;
	margin: 40px 0 20px 0;
	font-size: 40px;
	letter-spacing: -2px;
	color: #404040;
	text-decoration: none;
}

.container{
	margin-bottom: 60px;
}

.content{
	margin-left: 0;
	margin-top: 20px;
	float: left;
}

.content p {
  text-align: justify;
}

.content h3.title{
	background: #f5f5f5;
	padding-left: 5px;
}

#bottom_page{
	clear: both;
	padding-top: 40px;
}

.sidebar{
	margin-top: 20px;
	float: right;
}

.sidebar h6{
	line-height: 18px;
	font-size: 14px;
}

.sidebar h7{
	line-height: 18px;	
	display: block;
}
.sidebar h7 span{
	font-size: 12px;
	display: block;
	margin: 10px 0px;
}

#bottom_page ul p{
	padding: 0 14px;
	line-height: 34px;
	margin-bottom: 0;
	display: inline;
	float: left;
	border-right: 1px solid rgba(0, 0, 0, 0.15);
}

pre code{
	background-color: transparent;
	color: #404040;
	padding: 0;
}

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle; 
}
.icon > svg path {
	fill: #828282; 
}
.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 30px 0; 
  text-align: center;
}    
/**
 * Wrapper
 */
.wrapper {
  margin-right: auto;
  margin-left: auto;
}

.wrapper ul{
  display: inline;
}
.wrapper ul li{
  display: inline;
  margin: 10px;
}
.trigger {
  clear: both;
  display: block; 
  text-align: center;
}
.trigger a{
  display: inline; 
  margin-left: 10px;
}
.page-link {
  display: block;
  padding: 5px 10px; 
}
.cat-list {
  font-size: 14px;  
}
.cat-list li{
  margin: 10px 10px;  
}
.cat-list li a{
  margin-left: 20px;  
}

/* Custom CSS for pages */
.figcenter {
  text-align: center;
}
.fig img {
  max-width: 98%;
}
.figleft img {
  max-width: 50%;
  float: left;
  margin-right: 20px;
}
.figleft svg {
  float: left;
  margin-right: 20px;
}
.fighighlight {
  /* background-color: #f7f6f1; */
  padding: 20px 4px 20px 4px;
  border-bottom: 1px solid #999;
  border-top: 1px solid #999;
  /* box-shadow: 0px 2px 5px #CCC, 0px -2px 5px #CCC; */
}
.figcaption {
  font-weight: 400;
  font-size: 14px;
  color: #575651;
  text-align: justify;
}

