  {% if page.is_index %}{% assign content = post.content %}{% endif %}
    <div class="span14 content">
		<div class="page-header">
		 {% if post.title %}<h3 class="title">{% if page.is_index %}<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>{% else %}{{ post.title}}{% endif %}</h3>{% endif %}
		</div>
		<div class="post_content">
			{% if page.is_index %}
				{% if post.summary %}{{ post.summary }}
				{% else %}
				{{ content }}
				{% endif %}
			{% else %}
			{{ content }}
			{% endif %}
		</div>
    </div><!--content-->

	<div class="span3 sidebar">
		<h5>{{ post.date | date:'%d %B %Y' }}</h5>
		{% for category in post.categories %}
		<h6>{{ category }}</h6>
		{% endfor %}
		<h7>
		{% for tag in post.tags %}
   		<span>#{{ tag }}</span>{% endfor %}
		</h7>
	</div>
